.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: absolute;
}


.App-frame {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-width: 100vw;
  min-height: 100vh;
  border: none;
  margin: 0;
  padding: 0;
}

.add-fab {
  position: fixed !important;
  top: 23px;
  left: 15px;
  height: 27px;
  z-index: 999;
}