/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 * {
    margin: 0;
    padding: 0;
  }
  
  body {
    position: relative;
    color: white;
    height: 100vh;
    /* background: linear-gradient(
      200.96deg,
      #fedc2a -29.09%,
      #dd5789 51.77%,
      #7a2c9e 129.35%
    ); */
    font-family: sans-serif;
    overflow-y: hidden;
  }
  
  button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
      0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9;
  }
  
  a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 10px;
  }
  
  a:hover {
    opacity: 1;
    text-decoration: none;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .screen-test-row {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  
  .screen-test-cell {
    flex: 1;
    border: 1px dotted blue;
    margin: 0;
    padding: 0;
  }
  