version: '2'
volumes:
    etcher_cache:
    etcher_config:
    etcher_gnupg:
    etcher_pki:
services:
  fan-control:
      image: bh.cr/balena/fan_control_arm
      privileged: true
      restart: always
      labels:
         io.balena.features.sysfs: 1
      environment:
         - 'REFRESH_DELAY=10'
         - 'PWM=1,0'
         - 'PWM_TEMPS=57,58,60,65'
         - 'PWM_DUTY=0,800,1000,40000'
         - 'THERMAL_ZONE=1'

  etcher:
    build: .
    privileged: true
    restart: always
    network_mode: host
    labels:
      io.balena.features.dbus: 1
      io.balena.features.supervisor-api: 1
    volumes:
      - 'etcher_cache:/root/.cache'
      - 'etcher_config:/root/.config/balena-etcher'
      - 'etcher_gnupg:/root/.gnupg'
      - 'etcher_pki:/root/.pki'
    tmpfs:
      - /host
      - /run
      - /tmp
      - /mnt
    environment:
      - 'UDEV=1'
      - 'ELECTRON_ENABLE_LOGGING=1'
      - 'BALENAELECTRONJS_OVERLAY_DELAY=4000'
      - 'BALENAELECTRONJS_SLEEP_BUTTON_POSITION=20,13'
      - 'BALENAELECTRONJS_WIFI_BUTTON_POSITION=114,13'
      - 'BALENAELECTRONJS_ZOOM_FACTOR=1.28'
      - 'BALENAELECTRONJS_BRIGHTNESS_FILTER=0.96'
      - 'BALENAELECTRONJS_MOUNTS_ROOT=/mnt'
      - 'BALENAELECTRONJS_CONSTRAINT_PATH=/mnt'
      - 'BALENAELECTRONJS_SCREENSAVER_DELAY_OVERRIDE=5'
      - 'BALENAELECTRONJS_UPDATES_ONLY_DURING_SCREENSAVER=1'
      - 'BALENAELECTRONJS_SCREENSAVER_ON_COMMAND=screensaver_on.sh'
      - 'BALENAELECTRONJS_SCREENSAVER_OFF_COMMAND=screensaver_off.sh'

