on:
 pull_request:
    types: [opened, synchronize, closed]
    branches:
      - master

jobs:  
  balena_cloud_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: balena-io/deploy-to-balena-action@master
        id: build
        with:
          balena_token: ${{ secrets.BALENA_TOKEN }}
          fleet: balena/etcherpro_production
      - name: Log release ID built
        run: echo "Built release ID ${{ steps.build.outputs.release_id }}"